apiVersion: apps/v1
kind: Deployment
metadata:
  name: advanced-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: advanced
  template:
    metadata:
      labels:
        app: advanced
    spec:
      containers:
      - name: advanced-app
        image: advanced-candidate:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            cpu: "250m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
      # - name: sidecar
      #   image: advanced-sidecar:latest
      #   ports:
      #   - containerPort: 9000
